@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/ajg7gzj.css");

$font-primary: zenon, sans-serif;;
$font-secondary: 'Mulish', sans-serif;

// 400

$font-weight-thin: 200; // 100
$font-weight-extra-light: 300; // 200
$font-weight-light: 400; // 300
$font-weight-regular: 400; // 400
$font-weight-medium: 500; // 500
$font-weight-semi-bold: 600; // 600
$font-weight-bold: 700; // 700
$font-weight-extra-bold: 800; // 800
$font-weight-black: 900; // 900

$font-regular: 1em;
$font-xx-small: calc(#{$font-regular} * .5);
$font-x-small: calc(#{$font-regular} * .7);
$font-small: calc(#{$font-regular} * .8);
$font-large: calc(#{$font-regular} * 1.25);
$font-x-large: calc(#{$font-regular} * 2.5);
$font-xx-large: calc(#{$font-regular} * 4);

$line-height-regular: 1.3;
$line-height-large: 2.2;
$line-height-small: 1;

$space-regular: 2em;
$space-xx-small: calc(#{$space-regular} * .25);
$space-x-small: calc(#{$space-regular} * .5);
$space-small: calc(#{$space-regular} * .75);
$space-large: calc(#{$space-regular} * 1.5);
$space-x-large: calc(#{$space-regular} * 3);
$space-xx-large: calc(#{$space-regular} * 5);

$space-mobile: calc(#{$space-regular} * .5);
$space-mobile-small: calc(#{$space-regular} * .25);
$space-mobile-large: calc(#{$space-regular} * 1);

$border-radius-small: 1em;
$border-radius-regular: .6em;
$border-radius-large: 2em;

$width-1: 8.33vw;
$width-2: 16.66vw;
$width-3: 24.99vw;
$width-4: 33.32vw;
$width-5: 41.65vw;
$width-6: 49.98vw;
$width-7: 58.31vw;
$width-8: 66.64vw;
$width-9: 74.97vw;
$width-10: 83.33vw;
$width-11: 91.63vw;
$width-12: 100vw;

// colours - start
$color-base: #{'rgb(238, 238, 238)'};
$color-base-opacity: #{'rgba(238, 238, 238, .5)'};

$color-content: #{'rgb(17, 36, 40)'};
$color-content-opacity: #{'rgba(17, 36, 40, .5)'};

$color-content-shade: #{'rgb(9, 28, 32)'}; // dark grey
$color-content-shade-opacity: #{'rgba(9, 28, 32, .5)'};

$color-brand: #{'rgb(38, 169, 224)'}; // sky blue
$color-brand-opacity: #{'rgba(38, 169, 224, .5)'};

$color-brand-shade: #{linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%)}; // gradient

$color-extra: $color-brand;
$color-extra-opacity: $color-brand-opacity;
// colours - end

// button
$button-size: 3.5em;
$button-padding: .2em calc(#{$space-large} - .2em) .2em $space-large;

$button-font-family: $font-secondary;
$button-font-size: $font-large;
$button-font-weight: $font-weight-bold;

$button-color: $color-base;
$button-background: $color-content;

$border-radius-button: $border-radius-regular;