// typography
body {
	font-family: $font-primary;
	font-size: 1em;
	//font-size: calc((18px + (23 - 18) * ((100vw - 300px) / (1600 - 300))));
	// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	font-weight: $font-weight-regular;
	line-height: 1;
	text-align: left;
	
	@include for-tablet-portrait-only {
		//font-size: 25px !important;
	}
	
	@include for-tablet-landscape-only {
		//font-size: 17px !important;
	}
    
    @include for-phone-only {
		//font-size: 15px !important;
	}
}

p {
	font-size: $font-large;
	font-weight: $font-weight-light;
	line-height: $line-height-large;

	&+p {
		margin-top: $space-x-small;
        
        
	}
    
    &.big {
        font-size: $font-large;
        line-height: $line-height-large;
    }
	
	@include for-phone-and-tablet-portrait {
		font-size: $font-regular;
		
		&+p {
			margin-top: $space-regular;
		}
	}
}

strong,
.strong {
	font-weight: $font-weight-black;
}

// headlines
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    font-weight: $font-weight-bold;
    
	a {
		display: block;
	}
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-secondary;
}

h1, .h1 {
	font-family: $font-primary;
}

.h1 {
    margin-bottom: $space-xx-small;
	font-size: calc(#{$font-xx-large} *.9);
	line-height: $line-height-small;
    
    &.big {
        font-size: $font-xx-large;
    }
	
	@include for-phone-and-tablet-portrait {
		font-size: calc(#{$font-regular} * 2);
	}
}

.h2 {
  
	font-size: $font-x-large;
    font-weight: $font-weight-bold;
	line-height: $line-height-small;
	text-transform: uppercase;
    
    &.big {
        font-size: calc(#{$font-regular} * 8);
    }

	@include for-phone-and-tablet-portrait {
		font-size: calc(#{$font-regular} * 1.75);
	}
}

.h3 {
	font-size: calc(#{$font-x-large} * .85);
	line-height: $line-height-small;
	
	@include for-phone-and-tablet-portrait {
		font-size: calc(#{$font-regular} * 1.75);
	}
}

.h4 {
	font-weight: $font-weight-bold;
	font-size: calc(#{$font-x-large} * .7);
	line-height: $line-height-regular;
	margin-top: $space-x-small;
	margin-bottom: $space-regular;
	
	@include for-phone-and-tablet-portrait {
		font-size: $font-x-large;
	}
}

.h5 {
	font-size: $font-large;
	line-height: calc(#{$line-height-large} * .9);
    
    &.big {
        font-size: calc(#{$font-regular} * 1.5);
    }
	
	@include for-phone-and-tablet-portrait {
		font-size: $font-large;
	}
}

.h6 {
    margin-bottom: $space-x-small;
    
	font-size: $font-small;
    @include text-uppercase();
	
	@include for-phone-and-tablet-portrait {
		font-size: $font-small;
	}
}

// font-size
small,
.font-x-small {
	font-size: $font-x-small;
}

.font-small {
	font-size: $font-small;
}

// font-family
.font-secondary {
    font-family: $font-secondary;
    font-weight: $font-weight-regular !important;
	
	&.bold {
		font-weight: $font-weight-bold!important;
	}
	
	strong {
		font-weight: $font-weight-black;
	}

	.color-base {
		color: $color-base;
	}
}

// colours
.color-brand {
    color: $color-brand;
}

.color-base {
    color: $color-base;
}

.line-brand {
    -webkit-text-stroke: .015em $color-brand;
    -webkit-text-fill-color: transparent;
}

// text
.text-uppercase {
    @include text-uppercase;
}